<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://jakarata.ee/xml/ns/jakarataee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.5">
  <display-name>CovidVaccinationBooking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sign</display-name>
    <servlet-name>sign</servlet-name>
    <servlet-class>sign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sign</servlet-name>
    <url-pattern>/sign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin</display-name>
    <servlet-name>admin</servlet-name>
    <servlet-class>admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dosage_details</display-name>
    <servlet-name>Dosage_details</servlet-name>
    <servlet-class>Dosage_details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dosage_details</servlet-name>
    <url-pattern>/Dosage_details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_vaccination_center</display-name>
    <servlet-name>Add_vaccination_center</servlet-name>
    <servlet-class>Add_vaccination_center</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_vaccination_center</servlet-name>
    <url-pattern>/Add_vaccination_center</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_vaccination_center1</display-name>
    <servlet-name>Add_vaccination_center1</servlet-name>
    <servlet-class>Add_vaccination_center1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_vaccination_center1</servlet-name>
    <url-pattern>/Add_vaccination_center1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Remove_vaccination_Center</display-name>
    <servlet-name>Remove_vaccination_Center</servlet-name>
    <servlet-class>Remove_vaccination_Center</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Remove_vaccination_Center</servlet-name>
    <url-pattern>/Remove_vaccination_Center</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>centers</display-name>
    <servlet-name>centers</servlet-name>
    <servlet-class>centers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>centers</servlet-name>
    <url-pattern>/centers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>book</display-name>
    <servlet-name>book</servlet-name>
    <servlet-class>book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>book</servlet-name>
    <url-pattern>/book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>book1</display-name>
    <servlet-name>book1</servlet-name>
    <servlet-class>book1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>book1</servlet-name>
    <url-pattern>/book1</url-pattern>
  </servlet-mapping>
</web-app>